:root{
    --main-color:#2E383F;
    --sec-color:#F9A828;
    --thr-color:#ffffff;
    --bg-color:#ECECEB;
    --fth-color:#07617D;
    --svth-color:#EA3546;
}

@keyframes title101 {
    0%{
        margin: 20px;
        opacity: 50%;
    }
    100%{
        margin: 0;
        opacity: 100%;
    }
}

@keyframes decorative-left{
    0%{
        left: -20rem;
        opacity: 50%;
    }
    100%{
        opacity: 100%;
        left: -20vh;
    }
}
@keyframes decorative-right{
    0%{
        right: -20rem;
        opacity: 50%;
    }
    100%{
        opacity: 100%;
        right: -20vh;
    }
}
@keyframes decorative-right2{
    0%{
        right: -20rem;
        opacity: 50%;
    }
    100%{
        opacity: 100%;
        right: -30vh;
    }
}
@keyframes decorative-left2{
    0%{
        left: -20rem;
        opacity: 50%;
    }
    100%{
        left: -30vh;
        opacity: 100%;
    }
}

@keyframes circlel{
    0%{
        left: 15rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        left: 26vh;
    }
}
@keyframes circler{
    0%{
        right: 15rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        right: 26vh;
    }
}
@keyframes circlel2{
    0%{
        left: 10rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        left: 17vh;
    }
}
@keyframes circler2{
    0%{
        right: 10rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        right: 17vh;
    }
}
@keyframes circler3{
    0%{
        right: 10rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        right: 12vh;
    }
}
@keyframes circlel3{
    0%{
        left: 10rem;
        opacity: 20%;
    }
    100%{
        opacity: 100%;
        left: 12vh;
    }
}
*, ::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--bg-color);
}

.link-container{
    display: flex;
    list-style: none;
    gap: 15px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
} 

.link-container li a{
    color: white;
    text-decoration: none;
    margin: auto 20px;
}

.link-container li:hover{
    transform: scale(1.05);
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: var(--fth-color);
    position: fixed;
    z-index: 999;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    color: var(--thr-color);
}

.name{
    font-weight: 700;
}
#welcome-section{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--sec-color);
    color: var(--thr-color);
    overflow: hidden;
    position: relative;
}

.decoration{
    border-radius: 50px;
    width: 20rem;
    height: 1.5rem;
    background-color: var(--thr-color);
    position: absolute;
}

.decoration1{
    top:9rem;
    left: -20vh;
    animation: decorative-left 1s ease-out 0.5s;
}

.decoration2{
    bottom:9rem;
    right: -20vh;
    animation: decorative-right 1s ease-out 0.5s;
}

.circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 5px solid var(--thr-color);
    position: absolute;
}

.circle1{
    top:9rem;
    left: 26vh;
    animation: circlel 1s ease-out 0.5s ;
}
.circle2{
    bottom:9rem;
    right:26vh;
    animation: circler 1s ease-out 0.5s ;
}
#welcome-section h1{
    font-size: 5em;
}

#welcome-section h4{
    font-weight: 200;
    font-size: 20px;
}
#welcome-section h1, #welcome-section h4{
    animation-name: title101;
    animation-duration: 1.8s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
}
#profile{
    padding: 10px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

#profile .detail{
    padding: 30px;
    margin: 10px auto;
}

.detail h2{
    font-size: 2em;
}
.detail p{
    font-weight: 300;
    margin-top: 10px ;
}
.picture-profile li{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1.7);
    margin: 15px;
    display: block;
}

.picture-profile img{
    width: 200px;
    left: -40px;
    top: -35%;
    display: block;
    position: relative;
    transform: scale(0.8
    );
}
#basket{
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--svth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-project{
    text-align: center;
    padding: 1vh;
    color: var(--thr-color);
    font-size: 3em;
    border-bottom: 1px solid var(--thr-color);
    max-width: 640vh;
}

.desc-project{
    text-align: center;
    padding: 1vh;
    color: var(--thr-color);
    font-weight: 300;
}

#projects{
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#projects a img{
   width: 100%;
   height: calc(100% - 5rem);
   object-fit: cover;
   border: 1px solid rgba(0,0,0,0.2);
}

.project-tile{
    color: var(--fth-color);
    border-radius: 15px;
    margin: 20px;
    display: flex;
    position: relative;
    padding: 20px;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--thr-color);
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.project:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

.code{
    color: var(--thr-color);
}
.project:hover .code{
    color: var(--sec-color);
}
#contact{
    height: 30vh;
    background-color: var(--main-color);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}

#contact h2{
    font-size: 2em;
    font-weight: 800;
    color: var(--thr-color);
}
.profile-contact{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
}

.profile-contact a{
    display: flex;
    margin: 20px;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--thr-color);
    font-weight: 300;
}

.profile-contact a:hover{
    transform: translateY(3px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
ion-icon{
    font-size: 32px;
    margin: 5px;
}


/*Responsive*/
@media (min-width: 600px) and (max-width:800px){
.project-tile{
    width: 40%;
    height: 60vh;
}
.circle1{
    left: 12vh;
    animation: circlel3 1s ease-out 0.5s ;
}
.circle2{
    right: 12vh;
    animation: circler3 1s ease-out 0.5s ;
}
}

@media (max-width :500px) {
.picture-profile li{
    transform: scale(1.5);
}

.subtitle-project{
    font-size: 2em;
}
#contact{
    height: 30%;
    padding: 20px;
}
.decoration1{
    left: -30vh;
    animation: decorative-left2 1s ease-out 0.5s;
}
.decoration2{
    right: -30vh;
    animation: decorative-right2 1s ease-out 0.5s;
}
.circle1{
    left: 17vh;
    animation: circlel2 1s ease-out 0.5s ;
}
.circle2{
    right: 17vh;
    animation: circler2 1s ease-out 0.5s ;
}
.profile-contact {
    justify-content: center;
}
}

@media screen and (max-width:800px) {
    .link-container li a{
        margin: auto 0px;
    }
    .name{
        font-weight: 600;
    }

}

@media (max-width:500px){
    #navbar{
        top: -2px;
    }
    #profile .detail{
        padding: 15px;
        margin: auto;
    }
    #profile{
        padding: 0px;
        justify-content: center;
        width: 80%;
    }
    .name{
        font-weight: 600;
    }
    .link-container{
        gap: 5px;
    }
    .circle1{
        left: 19vh;
    }
    .circle2{
        right: 19vh;
    }
}